env
env/*
__pycache__/*
__pycache__
*.pyc
.ruff_cache
.devcontainer
.devcontainer/*
.venv
.venv/*
.tox
.tox/*
docs
docs/*
env
env/*
site
site/*
dist
dist/*
.github
.github/*
agentopia/__pycache__
agentopia/__pycache__/*
